*{
    font-family: "Roboto", sans-serif;

}
main{
    width: 1920px;
}

.first-screen{
    height: 700px;
    background: #EEEFF1;
}
p{
    margin: 0;
}
.navMenu{
    padding-top: 79px;
    padding-left: 399px;
    display: flex;
    gap: 42px;
}

.navMenu-item{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.navMenu-item:hover{
    color: #34547A;
}



.title{
    
    padding-top: 162px;
    padding-left: 399px; 
    display: flex;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px;
    line-height: 78px;
}

.description{
    width: 540px;
    height: 67px;
    padding-top: 60px;
    padding-left: 399px; 
    display: flex;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#727272;
    ;
}

.button{
    padding-top: 65px;
    padding-left: 399px; 

}

.button button{
    width: 225px;
    height: 65px;
    background-color: #34547A; 
    color: white; 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
   
}

.about-container {
    width: 540px; 
    margin: 0 auto; 
    text-align: center; 
    padding-top: 112px; 
    padding-bottom: 100px;
}

.about-me {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
}

.text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 50px; 
}

.numbers {
    height: 250px;
    background: #34547A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageNum {
    display: flex;
    gap: 49px; 
}

.number-item {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.number-item img {
    width: 50px;
    height: 50px;
}

.text-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.number-value {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 21px;
    color: white;
    margin: 0;
}

.number-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin: 0;
}

.video {
    background: #EEEFF1;
    height: 904px;
    padding-top: 100px;
    text-align: center;
}

.videoTitle-container {
    width: 540px;
    margin: 0 auto;
}

.videoTitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.videoDescription {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 20px;
    
}

.videoPicture {
    width: 1004px;
    height: 600px;
    margin: 50px auto 0 auto; 
    position: relative; 
}

.videoPicture img {
    width: 100%;
    height: 100%;
    height: auto;
    display: block;
    
}


.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 80px; 
    height: 80px;
    background: rgba(4, 4, 4, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.play-button img {
    width: 100px;
    height: 100px;
}

.Footer{
    height: 151px;
    background: #34547A;

}

.footer-container{
padding-top: 50px;
padding-left: 406px;
}

.Name{
    width: 219px;
    height: 19px;
color: white;
font-family: Roboto;
font-weight: 500;
font-size: 21px;
line-height: 100%;

}

.rights{
    width: 193px;
    height: 12px;
    color: white;
    font-family: Roboto;
font-weight: 400;
font-size: 13px;
line-height: 164%;
}
